



  <% if signed_in? %>

    <div id="holder">
      <a href="#" id="zi">Zoom In</a>
      <a href="#" id="zo"> | Zoom Out</a>
      <a href="#" id="gt"> | World View</a>
    </div>
     
    <!--Google Maps APIv3 Background-->
    <div id="canvas_holder">
    <div id="map_canvas"></div>
    </div><!-- End Google Maps Background -->

  <div id="overlay">
    <aside>
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= link_to "Register Your Event", register_event_path, 
                                class: "btn btn-large btn-primary" %>
      </section>
      <section>
       <h3>Your Up comming Events</h3>
      <%= render 'shared/feed' %>
    </section>
    </aside>
  </div>  
  
  

 <% else %>
  <div class="center hero-unit">
    <h1>Welcome to ZupBaby!!</h1>

    <h2>
      This is the home page for my DT265 Project. An Event showcasing and booking application
     
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

<%= link_to image_tag("git_hub_logo.jpeg", size: 22, alt: "Git Hub"), 'https://github.com/' %>

<% end %>