<li id="<%= feed_item.id %>">
<a href="<%= event_path(current_user) %>">
   <%= image_tag feed_item.photo.url.to_s, :size => "100x60" %>
</a>
    <span class="user">
       <%= link_to feed_item.user.name, feed_item.user %>
  

    </span>
    <span class="content"><%= feed_item.title %></span>
    <span class="content"><%= feed_item.locality %></span>
    

    <span class="timestamp">
      Event Date <%= feed_item.date %> 
    </span>

    <%= link_to "delete", feed_item, method: :delete,
                                      
                                     data: { confirm: "You sure?" },
                                     title: feed_item.title %>

  <a href='' onclick="setLatLng(<%= feed_item.latitude%>, <%=   feed_item.longitude %>); return false;">
  Go To
  </a>


  




</li>
