

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@event) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :date %>
      <%= f.text_field :date %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.label :contact_phone %>
      <%= f.text_field :contact_phone %>

      <%= f.label :address %>
      <%= f.text_field :address %>

      <%= f.label :country %>
      <%= f.text_field :country %>

      <%= f.label :latitude %>
      <%= f.text_field :latitude %>

      <%= f.label :longitude %>
      <%= f.text_field :longitude %>

      <%= f.label :url %>
      <%= f.text_field :url %>      
      
    
      

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>