

<div class = 'input'>
  <div class="span6 offset2">
    <%= form_for @event, :html => { :multipart => true } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :category %>
      <%= f.text_field :category %>

      <%= f.label :date %>
      <%= f.text_field :date %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.label :address %>
      <%= f.text_field :address %>

      <%= f.label :locality %>
      <%= f.text_field :locality %>

      <%= f.label :country %>
      <%= f.text_field :country %>

      <%= f.hidden_field :latitude %>
     
      <%= f.hidden_field :longitude %>

      <%= f.label :url %>
      <%= f.text_field :url %>      
      
      <p>
      <%= f.label :photo %>
      <%= f.file_field :photo %>
      </p>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>


<div id = "map"></div>
<div id="legend">You can drag and drop the marker to the correct location</div>
</div>