
<% provide(:title, 'Register Events') %>
<h1>Register Your Event</h1>
<p>Find me in app/views/events/new.html.erb</p>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@event) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :category %>
      <%= f.text_field :category %>

      
      <%= f.label :location %>
      <%= f.text_field :location %>

      
      

      <%= f.submit "Create Event", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>