<% provide(:title, @event.title) %>
<!-- <div class="row">

    <div>
      <h1>
        <%= @event.title %>
      </h1>
    </div> -->


  <div id="overlay">
    <ul class = "row">
    <p>
        <h3>
          <li>Date: <%= @event.date %></li>
          <li>Description: <%= @event.description %></li>
          <li>Contact Phone: <%= @event.contact_phone %></li>
          <li>Address: <%= @event.address %></li>
          <li>Country: <%= @event.country %></li>
          <li>Latitude: <%= @event.latitude %></li>
          <li>Longitude: <%= @event.longitude %></li>
          <li>Website: <%= link_to @event.url %></li>
        </h3>
      </p>

     </ul>
  </div> 

 
    <div id="holder">
<a href="#" id="zi">Zoom In</a>
<a href="#" id="zo">Zoom Out</a>
<a href="#" id="gt">GoTo</a>
</div>
 
<!--Google Maps APIv3 Background-->
<div id="canvas_holder">
<div id="map_canvas"></div>
</div><!-- End Google Maps Background -->

  <p>
     <%= link_to "Update", edit_event_path(@event) %>
     <%= link_to "Delete", @event, :method => :delete, :confirm => "Are you sure you want to delete this event?" %>
  </p>



